/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav, footer, header, aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Inter";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input, button, textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 456px;
  height: 434px;
  background: #FBFBFB;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input {
  width: 320px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E5E9EB;
  border-radius: 6px;
  padding-left: 23px;
}

.add {
  text-align: center;
  letter-spacing: -0.006em;
  color: #F6F8F9;
  padding: 8px 16px;
  background: #4094F7;
  border-radius: 6px;
  width: 60px;
  height: 40px;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bxs-pencil {
  background-color: white;
}

.form {
  margin-bottom: 10px;
}

.bx-x {
  background-color: white;
}

.footer {
  display: flex;
  justify-content: end;
}

.clear {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #0E73F6;
}